html{
    background-color: black;
    color: white;
}

#calcCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#calcBody{
    display: flex;
    flex-direction: column;

    width: 30vw;
    height: 40vw;

    border: solid white 1px;

    padding: 5%;
}

#calcDisplay{
    border: solid blue 1px;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#displayNumbers{
    font-size: 6vw;
    margin: 0;
    padding: 0;
}

#calcButtons{
    border: solid green 1px;
    flex-grow: 3;

    display: flex;
    padding: 5px;
    gap: 5px;
}

#calcNumbers{
    border: solid red 1px;
    width: 20vw;
    padding: 3%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
}

#calcOperations{
    border: solid orangered 1px;
    width: 7vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    
}

.Buttons{
    border: outset salmon 3px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 4vw;
}

.numberButtons{
    width: 27%;
    height: 23%;
}

.operationButtons{
    width: 70%;
    height: 15%;;
}

#zero{
    width: 94%;
    height: 13%;
}

.Buttons:hover{
    background-color: rgba(128, 128, 128, .2)
}

.Buttons:active{
    background-color: black;
    border-style: inset;
}

